<h3>Browse Airports</h3>

 {{!-- Browse Airports --}}
<div id="browseAirports">
<table border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.airport_id}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.country}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

 {{!-- Add Airport --}}
<div id="insert" style="display: block">
    <form id="addAirport">
        <legend><strong>Add Airport</strong></legend>
          <fieldset class="fields">
            <label> Airport ID </label> <input type="text" name="id">
            <label> City </label> <input type="text" name="city">
            <label> State </label> <input type="text" name="state">
            <label> Country </label> <input type="text" name="country">
          </fieldset>
          <input class="btn" type="submit" id="addAirport" value="Add Airport">
          <input class="btn" type="button" value="Cancel">
	</form> <!--add new Airport-->
</div><!-- insert -->

