<h3>Browse Customers</h3>

  {{!-- Browse customers --}}
<div id="browseCustomers">
<table border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.customer_id}}</td>
            <td>{{this.cust_fname}}</td>
            <td>{{this.cust_lname}}</td>
            <td>{{this.cust_email}}</td>
            <td>{{this.cust_phone}}</td>
            <td>{{this.airline_miles}}</td>
            <td>{{this.member_since}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
