<h1>Browse Jets</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
        {{#each data.[0]}}
            <th>{{@key}}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.jet_id}}</td>
            <td>{{this.make}}</td>
            <td>{{this.model_id}}</td>
            <td>{{this.pass_capacity}}</td>
            <td>{{this.date_acquired}}</td>
            <td>{{this.total_hours}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>