{{!--The following code was adopted from the CS340 nodejs-starter-app --}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<div class="jets-models-title">
    <h3>Jets & Models</h3>
</div>

<script>
    function successAlert(){
        alert('Submitted')
    }
</script>


<div class="jets-models-tables-container">
{{!-- Browse Jets Section --}}

<div id="browseJets" class="jet-table">
    <h4>Jet Inventory</h4>
    <table border="1" cellpadding="5" id="jetsTable">
        <thead>
            <tr>
            {{#each jetData.[0]}}
                <th>{{@key}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each jetData}}
            <tr>
                <td>{{this.jet_id}}</td>
                <td>{{this.make}}</td>
                <td>{{this.model_id}}</td>
                <td>{{this.pass_capacity}}</td>
                <td>{{this.date_acquired}}</td>
                <td>{{this.total_hours}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{!-- Browse Models Section --}}
<div id="browseModels" class="model-table">
    <h5>Model Types</h5>
    <table border="1" cellpadding="5" id="modelsTable">
        <thead>
            <tr>
            {{#each modelData.[0]}}
                <th>{{@key}}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each modelData}}
            <tr>
                <td>{{this.model_id}}</td>
                <td>{{this.make}}</td>
                <td>{{this.pass_capacity}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

</div>{{!-- End tag for container of both tables   --}}

<div class="jets-models-create-forms">

{{!-- Create a jet form --}}
<div id="createJet" class="create-jet-form-container">
    <h4>Create a new Jet</h4>
    <form id="createJetForm">
        <fieldset class="create-jet-form">
            <label>Jet ID</label> <input type="text" name="jet_id" id="jetIDInput">
            <label>Model ID</label> <select name="model_id" id="modelIDInput">
                <option>Choose a model</option>
                {{#each modelData}}
                <option>{{this.model_id}}</option>
                {{/each}}
                </select>
            <label>Date Acquired</label> <input type="date" name="date_acquired" id="dateInput">
            <label>Total Hours</label> <input type="number" min="0" name="total_hours" id="hoursInput">
        </fieldset>
        <button type="submit">Create</button>
        {{!-- <button type="button" id="jetSubmit">Create</button> --}}
    </form>
</div>

{{!-- JS for AJAX manipulation --}}
<script src="./js/add_jet.js"></script>

{{!-- Create a model form --}}
<div id="createModel" class="create-model-form-container">
    <h4>Create a new Model</h4>
    <form id="createModelForm" >
        <fieldset class="create-model-form">
            <label>Model ID</label> <input type="text" name="model_id" id="createModelIDInput">
            <label>Make</label> <input type="text" name="make" id="makeInput">
            <label>Passenger Capacity</label> <input type="number" min="0" name="pass_capacity" id="passCapInput">
        </fieldset>
        <button type="submit">Create</button>
        {{!-- <button type="button" id="modelSubmit">Create</button> --}}
    </form>
</div>

</div>{{!--End tag for the create forms--}}

{{!-- JS for AJAX --}}
<script src="./js/add_model.js"></script>
