<h3>Browse Routes</h3>

  {{!-- Browse Routes --}}
<div id="browseRoutes">
<table border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.route_id}}</td>
            <td>{{this.origin_loc}}</td>
            <td>{{this.destination_loc}}</td>
            <td>{{this.distance}}</td>
            <td>{{this.times_flown}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>


  {{!-- Create new Route --}}
<div id="insert" style="display: block">
    <form id="addRoute">
        <legend><strong>Add Route</strong></legend>
          <fieldset class="fields">
            <label> Route ID </label> <input type="text" name="id">
            <label> Origin Airport</label> 
              <select name="airport_id">
              <option>Choose Origin Airport</option>
                {{#each data}}
                <option>{{this.airport_id}}</option>
                {{/each}}
              </select>
            <label> Destination Airport</label> 
                <select name="airport_id">
                <option>Choose Destination Airport</option>
                  {{#each data}}
                  <option>{{this.airport_id}}</option>
                  {{/each}}
                </select>
            <label> Distance </label> <input type="text" name="distance">
          </fieldset>
          <input class="btn" type="submit" id="addRoute" value="Add Route">
          <input class="btn" type="button" value="Cancel">
	</form> <!--add new route-->
</div><!-- insert -->


  {{!-- Delete Route --}}
<div id="delete" style="display: block">
  <form id="deleteRoute">
    <legend><strong>Delete Route</strong></legend>
      <fieldset class="fields">
        <label> Route ID </label> 
          <select name="route_id">
            <option>Choose a Route</option>
           {{#each data}}
              <option>{{this.route_id}}</option>
            {{/each}}
          </select>
      </fieldset>
      <input class="btn" type="submit" id="deleteRoute" value="Remove Route">
      <input class="btn" type="button" value="Cancel">
</form> <!--delete route-->
</div><!-- delete -->

