<h3>Browse Routes</h3>

  {{!-- Browse Routes --}}
<div id="browseRoutes">
<table id = "routes-table" border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.Route_Number}}</td>
            <td>{{this.Origin}}</td>
            <td>{{this.Destination}}</td>
            <td>{{this.Distance}}</td>
            <td>{{this.Times_Flown}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

{{!-- Form to add a record to the table  --}}
<h2>Create new Route</h2>
<p>Fill out the information below to create a new route</p>
<form id="add-route">
    <label for="input-id">Route ID: </label>
    <input type="number" name="input-id" id="input-id">
    
    <label for="input-origin">Origin: </label>
    <select name="airport_id" id = "input-origin">
      <option>Choose Origin Airport</option>
        {{#each airportsData}}
          <option>{{this.airport_id}}</option>
        {{/each}}
    </select>

    <label for="input-destination">Destination: </label>
    <select name="airport_id" id = "input-destination">
      <option>Choose Destination Airport</option>
        {{#each airportsData}}
          <option>{{this.airport_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-distance">Distance: </label>
    <input type="number" name="input-distance" id="input-distance">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_route.js"></script>
 


  {{!-- Delete Route --}}
<div id="delete" style="display: block">
  <form id="deleteRoute">
    <legend><strong>Delete Route</strong></legend>
      <fieldset class="fields">
        <label> Route ID </label> 
          <select name="route_id">
            <option>Choose a Route</option>
           {{#each data}}
              <option>{{this.route_id}}</option>
            {{/each}}
          </select>
      </fieldset>
      <input class="btn" type="submit" id="deleteRoute" value="Remove Route">
      <input class="btn" type="button" value="Cancel">
</form> <!--delete route-->
</div><!-- delete -->

