{{!--The following code was adopted from the CS340 nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h3>Browse Routes</h3>

  {{!-- Browse Routes --}}
<div id="browseRoutes">
<table id = "routes-table" border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value = {{this.Route_Number}}>
            <td>{{this.Route_Number}}</td>
            <td>{{this.Origin}}</td>
            <td>{{this.Destination}}</td>
            <td>{{this.Distance}}</td>
            <td>{{this.Times_Flown}}</td>
            <td><button onclick="deleteRoute({{this.Route_Number}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<script src="./js/delete_route.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Create new Route</h2>
<p>Fill out the information below to create a new route</p>
<form id="add-route">
    <label for="input-id">Route ID: </label>
    <input type="number" name="input-id" id="input-id">
    
    <label for="input-origin">Origin: </label>
    <select name="airport_id" id = "input-origin">
      <option>Choose Origin Airport</option>
        {{#each airportsData}}
          <option>{{this.airport_id}}</option>
        {{/each}}
    </select>

    <label for="input-destination">Destination: </label>
    <select name="airport_id" id = "input-destination">
      <option>Choose Destination Airport</option>
        {{#each airportsData}}
          <option>{{this.airport_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-distance">Distance: </label>
    <input type="number" min="0" name="input-distance" id="input-distance">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_route.js"></script>
 



