<h3>Browse Tickets</h3>
{{!-- Scripts --}}
<script>
    function showEditForm(ticketNumber){
        let form = document.getElementById('ticketEdit');
        form.style.display = 'block';
        document.getElementById('ticketLabel').textContent = ticketNumber 
    }
    function hideForm(){
        let form = document.getElementById('ticketEdit');
        form.style.display = 'none';
        successAlert()
    }
    function successAlert(){
        alert('Submitted')
    }
</script>


{{!-- Browse tickets --}}
<div id="browseTickets">
<table border="1" cellpadding="5" id="ticketTable">
    <thead>
        <tr>
        {{#each ticketData.[0]}}
            <th>{{@key}}</th>
        {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each ticketData}}
        <tr>
            <td value="{{this.[Ticket Number]}}">{{this.[Ticket Number]}}</td>
            <td>{{this.[First Name]}}</td>
            <td>{{this.[Last Name]}}</td>
            <td>{{this.[Route Number]}}</td>
            <td>{{this.[Jet ID]}}</td>
            <td>{{this.Price}}</td>
            <td>{{this.[Flight Date]}}</td>
            <td><button type="button" onclick="showEditForm({{this.[Ticket Number]}})">Edit</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>

{{!-- Create a Ticket form --}}
<div id="createTicket">
    <h4>Create a new Ticket</h4>
    <form id="createTicketForm">
        <fieldset>
            <label> Customer </label><select name="cust_id" id="custIDInput">
                <option>Choose a customer</option>
                {{#each custData}}
                {{!-- Drop down will present first/last, but actual value of selection is customer id! --}}
                <option value="{{this.customer_id}}">{{this.cust_fname}} {{this.cust_lname}}</option>
                {{/each}}
            </select>
            <label> Route ID </label><select name="route_id" id="routeIDInput">
                <option>Choose a route</option>
                {{#each routeData}}
                <option>{{this.route_id}}</option>
                {{/each}}
            </select>
            <label> Jet ID </label><select name="jet_id" id="jetIDInput">
                <option>Choose a route</option>
                {{#each jetData}}
                <option>{{this.jet_id}}</option>
                {{/each}}
            </select>
            <label> Price </label> <input type="number" name="price" id="priceInput">
            <label> Flight Date </label> <input type="date" name="flight_date" id="flightDateInput">
        </fieldset>
        <button type="submit">Create!</button>
    </form>
</div>

{{!-- Create AJAX --}}
<script src="./js/add_ticket.js"></script>

{{!-- Update/Edit a Ticket form --}}
<div id="ticketEdit" style="display: none">
    <h5>Change an existing ticket</h5>
    <form id="ticketEditForm">
        <fieldset>
            <label id="ticketLabel"></label>
            <label>Customer</label>
                <select name="editCustSelection" id="editCustIDInput">
                    <option>Choose a customer</option>
                    {{#each custData}}
                    {{!-- Drop down will present first/last, but actual value of selection is customer id! --}}
                    <option value="{{this.customer_id}}">{{this.cust_fname}} {{this.cust_lname}}</option>
                    {{/each}}
                </select>

            <label> Route ID </label> 
                <select name="route_id" id="editRouteIDInput">
                    <option>Choose a Route</option>
                    {{#each routeData}}
                    <option>{{this.route_id}}</option>
                    {{/each}}
                </select>

            <label>Jet ID</label> 
                <select name="jet_id" id="editJetIDInput">
                    <option>Choose a Jet</option>
                    {{#each jetData}}
                    <option>{{this.jet_id}}</option>
                    {{/each}}
                </select>
                
            <label>Price</label> <input type="number" name="price" id="editPriceInput">
            <label>Flight Date</label> <input type="date" name="flight_date" id="editFlightDateInput">
        </fieldset>
        <button type="submit" onclick="hideForm()">Submit!</button>
    </form>
</div>

{{!-- Update AJAX --}}
<script src="./js/update_ticket.js"></script>
