<h3>Browse Tickets</h3>
{{!-- Scripts --}}
<script>
    function showEditForm(){
        let form = document.getElementById('ticketEdit');
        form.style.display = 'block';
    }
    function hideForm(){
        let form = document.getElementById('ticketEdit');
        form.style.display = 'none';
        successAlert()
    }
    function successAlert(){
        alert('Submitted')
    }
</script>



{{!-- Browse tickets --}}
<div id="browseTickets">
<table border="1" cellpadding="5">
    <thead>
        <tr>
        {{#each data.[0]}}
            <th>{{@key}}</th>
        {{/each}}
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.Ticket_Number}}</td>
            <td>{{this.cust_fname}}</td>
            <td>{{this.cust_lname}}</td>
            <td>{{this.route_id}}</td>
            <td>{{this.jet_id}}</td>
            <td>{{this.price}}</td>
            <td>{{this.flight_date}}</td>
            <td><button type="button" onclick="showEditForm()">Edit</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>

{{!-- Create a Ticket form --}}
<div id="createTicket">
    <h4>Create a new Ticket</h4>
    <form>
        <fieldset>
            <label>Customer ID</label> <input type="number" name="customer_id">
            <label>Route ID</label> <input type="number" name="route_id">
            <label>Jet ID</label> <input type="text" name="jet_id">
            <label>Price</label> <input type="number" name="price">
            <label>Flight Date</label> <input type="date" name="flight_date">
        </fieldset>
        <button type="button" onclick="successAlert()">Create!</button>
    </form>
</div>

{{!-- Update/Edit a Ticket form --}}
<div id="ticketEdit" style="display: none">
    <h5>Edit a Ticket</h5>
    <p>This form's fields will be populated with whatever row of data the user clicked. Example data shown below:</p>
    <form id="ticketEditForm">
        <fieldset>
            <label>Ticket ID: {selected ticket}</label> {{!-- <input type="number" name="ticket_id" > --}}
            <label>Customer First Name</label>
                <select>
                    <option>First Name</option>
                    {{#each data}}
                    <option>{{this.cust_fname}}</option>
                    {{/each}}
                </select>
            <label>Customer Last Name</label> 
                <select>
                    <option>Last Name</option>
                    {{#each data}}
                    <option>{{this.cust_lname}}</option>
                    {{/each}}
                </select>
            <label> Route ID </label> 
                <select name="route_id">
                    <option>Choose a Route</option>
                    {{#each data}}
                    <option>{{this.route_id}}</option>
                    {{/each}}
                </select>

            <label>Jet ID</label> 
                <select>
                    <option>Choose a Jet ID</option>
                    {{#each data}}
                    <option>{{this.jet_id}}</option>
                    {{/each}}
                    </select>
                </select>
            <label>Price</label> <input type="number" name="price">
            <label>Flight Date</label> <input type="date" name="flight_date">
        </fieldset>
        <button type="button" onclick="hideForm()">Submit!</button>
    </form>
</div>
