<h1>Browse Tickets</h1>

<table border="1" cellpadding="5">
    <thead>
        <tr>
        {{#each data.[0]}}
            <th>{{@key}}</th>
        {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.Ticket_Number}}</td>
            <td>{{this.cust_fname}}</td>
            <td>{{this.cust_lname}}</td>
            <td>{{this.route_id}}</td>
            <td>{{this.jet_id}}</td>
            <td>{{this.price}}</td>
            <td>{{this.flight_date}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>